body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #caffff;
}

.todo-app {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: rgb(2, 207, 146);
}
.add-task-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.add-task-button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.add-task-button:hover {
    background-color: #218838;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.task-content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-edit-input {
    flex-grow: 1;
    margin-right: 10px;
}

.buttons-container {
    display: flex;
    gap: 5px;
}

.edit-task-button, .delete-task-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-task-button {
    background-color: #dc3545;
}

.edit-task-button:hover, .delete-task-button:hover {
    opacity: 0.8;
}
